/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2017, 3:30:04 PM
    Author     : adamc
*/
.fieldset-container {
    border: 1px solid gray;
    box-sizing: border-box;
}

.fieldset-cell {
    padding-left: 13px;
    padding-right: 13px;
}

.fieldset-label {
    font-weight: bold;
}