/build.xml
/nbproject/
/web/resources/js/lib/flot/
/web/resources/js/lib/jquery-3.2.0.min.js
/dist/
/build/
/web/WEB-INF/glassfish-web-bak.xml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
