#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*         text=auto
*.sh      text eol=lf
/docker/**  text eol=lf
*.bat     text eol=crlf

