/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2017, 8:58:30 PM
    Author     : adamc
*/


/* The legend text on this page is much longer.  Need extra space and smaller letters for it */
.legend-panel {
    vertical-align: middle;
    width: 50%;   /* Doesn't appear' needed - maybe ask Ryan? */
    min-width: 125px;
    padding-right: 5px;
}

.chart-legend {
    font-size: 90%;
}